.attribution { font-size: 11px; text-align: center; color: white; }
.attribution a { color: hsl(228, 45%, 44%); }

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
}

* {
  box-sizing: border-box;
}

body, h1, h2, p, ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%; 
  /*width: 100%; */
}

/* ==================
   Typography
===================== */

body {
  font-size: 15px;
}

.header-nav a, h1, h2, .card-body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

a, p, .gallery-btn {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
}

@media (min-width: 600px) {
  .header-nav a {
    font-family: 'Alata', sans-serif;
    font-weight: 400;
  }
}

.nav-list, .header-title, .card-body {
  color: var(--white);
}

.hero-title, .gallery-title, .gallery-btn {
  color: var(--black);
}

.hero-body, .copyright {
  color: var(--dark-gray);
}

.header-title, .header-nav, .hero-title, .gallery-title, .card-body, .gallery-btn {
  text-transform: uppercase;
}

main {
  text-align: center;
}

.header-nav {
  font-size: 1.5rem;
}

@media (min-width: 600px) {
  .header-nav {
    text-transform: initial; 
    font-size: 1rem;
  }
}

.header-title {
  /* font-size: 2.5rem; */ /* need to change this to the varying font-size, with 2.5 @ 375px width and 2em @ 300px width */ 
  font-size: clamp(2rem, 0.5rem + 8vw, 3rem);
  border: 2px solid var(--white);
  height: min-content;
  padding: 0.6em;
  margin-top: -1.5em;
  width: min-content;
}

@media (min-width: 600px) {
  .header-title {
    /* font-size: 4.5rem; */ 
    font-size: clamp(3rem, 1.75rem + 4vw, 4.5rem);
    width: 60%;
    max-width: 654px;
    min-width: min-content;
    padding-top: 0.5em;
    padding-bottom: 0.4em;
    margin-top: -0.1em;
  }
}

.hero-title, .gallery-title {
  /* font-size: 2rem; */ 
  font-size: clamp(2rem, 0.9846rem + 2.7077vw, 3.1rem);
}

.hero-body {
  line-height: 1.7;
  margin: 1em;
}

@media (min-width: 800px) {
  .hero-title {
    margin-bottom: 0.5em;
  }
}

.card-body {
  /*font-size: 1.5rem;*/
  font-size: clamp(1.5rem, 0.6667rem + 3.5556vw, 2rem);
  text-align: left;
}

@media (min-width: 600px) {
  .card-body {
    /* font-size: 2rem;*/ 
    font-size: clamp(1.2rem, 0.24rem + 2.56vw, 2rem);
  }
}

.gallery-btn {
  font-size: 1rem;
  border: 2px solid var(--dark-gray);
  padding: 0.5em 2.5em 0.6em;
  display: inline-block;
  letter-spacing: 4px;
  height: min-content;
}


/* ==================
   Layout
===================== */

/* Global */ 

.grid {
  display: grid;
  padding: 0 1.5em;
  grid-template-columns: auto auto;
  max-width: 1160px;
  margin: 0 auto;
}

.grid > * {
  grid-column: 1 / -1; 
}

.img-desktop {
  display: none;
}

@media (min-width: 600px) {
  .grid {
    grid-template-columns: auto auto auto auto;
  }

  .img-mobile {
    display: none;
  }
  .img-desktop {
    display: block;
  }
}


/* Header */ 

.header {
  background: url(../images/mobile/image-hero.jpg); 
  background-size: cover;
  padding-top: 2.5em;
  height: 650px;
}

.header-grid {
  height: 100%;
}

.logo {
  width: 150px;
}

.header-logo {
  grid-column: 1 / span 1;
}

@media (min-width: 600px) {
  .header {
    background: url(../images/desktop/image-hero.jpg) rgba(0,0,0,0.4);
    background-blend-mode: multiply;
    background-size: cover;
    padding-top: 4.5em;
  }
  .header-logo {
    width: 192px;
  }
}


/* Nav */ 

.header-logo, .header-nav, .nav-mobile-menu {
  grid-row: 1 / 2;
}
.header-title {
  grid-row: 2 / 3;
}

.nav-mobile-menu {
  /*grid-column: 3 / 4;*/
  margin-left: auto;
}

.nav-list, .social-list {
  display: flex;
}

.nav-list {
  flex-direction: column;
}

.header-nav {
  position: fixed; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  transform: translateX(0);
  transition: transform 250ms; 
  width: 100%; 
  height: 100vh;
  background: var(--black);
  z-index: 3;
}
/* mobile nav styling */ 
.nav-logo, .nav-close-btn {
  position: absolute;
  z-index: 4;
  top: 2em;
}

.nav-logo {
  left: 1em;
}

.nav-close-btn {
  right: 1em;
}

.header-nav .nav-list {
  margin-top: 10em;
  margin-left: 1em;
  gap: 0.9em;
}
/* ---- */ 

@media (min-width: 600px) {
  .nav-list {
    flex-direction: row;
  }
  .nav-mobile-menu {
    display: none;
  }
  .header-nav {
    position: initial;
    width: unset;
    /*grid-column: 3 / -2;*/
    margin-left: auto;
    width: unset;
    height: unset;
    background: unset;
  }
  .nav-logo, .nav-close-btn {
    display: none;
  }

  .header-nav .nav-list {
    gap: 1.4em;
    margin-top: unset;
    margin-left: unset;
  }
}

.nav-open-nav {
  transform: translateX(-100%);
}

.nav-open-body {
  overflow: hidden; 
}

/* Main */ 

/* Hero Section */ 
.hero-img {
  margin: 6em 0 3em;
}

@media (min-width: 800px) {
  .hero {
    position: relative;
  }
  .hero-content {
    position: absolute;
    right: 0;
    bottom: 0;
    background: white;
    width: 50%;
    max-width: 560px;
    padding-left: 5em;
    padding-top: 5em;
    text-align: left;
  }
  .hero-img {
    margin-bottom: 0;
  }
  .hero-body {
    margin: 0;
  }
}

@media (min-width: 1000px) {
  .hero-content {
    padding-left: 6em;
    padding-top: 6em;
  }
}

/* Image Gallery */ 
.image-gallery {
  margin-top: 5em;
  margin-bottom: 7em;
  gap: 1.5em;
}

.gallery-title {
  margin-bottom: 0.8em;
}
.gallery-btn {
  order: 99;
  justify-self: center;
}

@media (min-width: 600px) {
  .gallery-btn {
    order: unset;
  }
  .card {
    grid-column: initial;
  }
  .gallery-title, .gallery-btn {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }
  .gallery-title {
    justify-self: start;
  }
  .gallery-btn {
    justify-self: end;
  }
}

@media (min-width: 800px) {
  .image-gallery {
    margin-top: 12em;
    margin-bottom: 12em;
  }
}

.card {
  position: relative;
}

.card-body {
  position: absolute;
  left: 0.9em;
  bottom: 0.7em;
  z-index: 2;
}

.card::after {
  content: '';
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(to right, rgba(0,0,0,0.7), rgba(255,255,255,0.2)) /* idk the most accurate gradient here but it'll do */ 
}

@media (min-width: 700px) {
  .card-body {
    left: 1.1em;
    bottom: 0.9em;
  }
}

@media (min-width: 800px) {
  .card-body {
    left: 1.3em;
    bottom: 1.1em;
  }
}

/* Footer */ 

.footer {
  background: var(--black);
  padding: 4em 0;
}

.footer-grid {
  justify-items: center;
}

.footer-logo {
  order: 0;
}
.footer-nav {
  order: 1;
  margin: 2.2em 0 3em;
}
.footer-nav .nav-list {
  gap: 1.4em;
  text-align: center;
}
.social-list {
  order: 2;
  gap: 1em;
  align-items: center;
}
.copyright {
  order: 3;
  margin-top: 1em;
  text-align: right;
}
.attribution {
  order: 4;
}

@media (min-width: 640px) {
  .footer {
    padding: 3em 0 0;
  }
  .footer-logo {
    grid-column: 1 / 3;
    grid-row: 1;
    justify-self: start;
  }
  .social-list {
    grid-column: 3 / 5; 
    grid-row: 1;
    justify-self: end;
  }
  .footer-nav, .copyright {
    grid-row: 2; 
    margin-top: 1.7em;
  }
  .footer-nav {
    grid-column: 1 / 3; 
    justify-self: start;
  }
  .copyright {
    grid-column: 3 / 5;
    justify-self: end;
  }
}

/* Active States */ 
.nav-link, .social-icon, .nav-mobile-menu, .nav-close-btn, .gallery-btn, .card {
  cursor: pointer;
}

.gallery-btn:hover, .gallery-btn:focus {
  border: 2px solid var(--black);
  background: var(--black);
  color: var(--white);
}

.social-item::after, .nav-item::after {
  content: "";
  display: block;
  width: 24px;
  height: 2px;
  margin-top: 8px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}
.social-item:hover::after, .nav-item:hover::after {
  background: white;
}

.card:hover > .card-body {
  color: var(--black);
}

.card:hover::after {
  background: rgba(255, 255, 255, 0.7);
}

/* 
Learning Notes: 
  read my notes about object-fit: cover; for images.
    maybe use width: 100% and aspect ratio: 1 / 1 aswell. 

  you don't need to do position absolute for overlapping content in a grid, you just put them in the same column/row and set a grid index. 
  google grid overlapping elements

*/