.attribution { font-size: 11px; text-align: center; color: white; }
.attribution a { color: hsl(228, 45%, 44%); }

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
}

* {
  box-sizing: border-box;
}

body, h1, h2, p, ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%; 
  /*width: 100%; */
}

/* ==================
   Typography
===================== */

body {
  font-size: 15px;
}

h1, h2, .card-body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}
/* header nav is josefin font on mobile screens. that's why a tag is here. might need to seperate all the a tags if the rest a different, can't tell atm */ 

a, p, .gallery-btn {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
}

.nav-list, .header-title, .card-body {
  color: var(--white);
}

.hero-title, .gallery-title, .gallery-btn {
  color: var(--black);
}

.hero-body, .copyright {
  color: var(--dark-gray);
}

.header-title, .header-nav, .hero-title, .gallery-title, .card-body, .gallery-btn {
  text-transform: uppercase;
}

main {
  text-align: center;
}

.header-nav {
  font-size: 1.5rem;
}

@media (min-width: 600px) {
  .header-nav {
    text-transform: initial; 
    font-size: 1rem;
  }
}

.header-title {
  font-size: 2.5rem;
  border: 2px solid var(--white);
  height: min-content;
  padding: 0.6em;
  margin-top: -1.5em;
  width: min-content;
}

.hero-title, .gallery-title {
  font-size: 2rem;
}

.hero-body {
  line-height: 1.7;
  margin: 1em;
}

.card-body {
  font-size: 1.5rem;
  width: 40%;
  text-align: left;
}

.gallery-btn {
  font-size: 1rem;
  border: 2px solid var(--dark-gray);
  padding: 0.5em 2.5em;
  display: inline-block;
  letter-spacing: 4px;
}


/* ==================
   Layout
===================== */

/* Global */ 

.grid {
  display: grid;
  padding: 0 1.5em;
  grid-template-columns: auto auto;
}

.grid > * {
  grid-column: 1 / -1; 
}

.img-desktop {
  display: none;
}

@media (min-width: 600px) {
  .grid {
    grid-template-columns: auto auto auto auto;
  }

  .img-mobile {
    display: none;
  }
  .img-desktop {
    display: block;
  }
}


/* Header */ 

.header {
  background: url(../images/mobile/image-hero.jpg); 
  background-size: cover;
  padding-top: 2.5em;
  height: 650px;
}

.logo {
  width: 150px;
}

.header-logo {
  grid-column: 1 / span 1;
}

@media (min-width: 600px) {
  .header {
    background: url(../images/desktop/image-hero.jpg);
    background-size: cover;
  }
}


/* Nav */ 

.nav-mobile-menu {
  /*grid-column: 3 / 4;*/
  margin-left: auto;
}

.nav-list, .social-list {
  display: flex;
}

.nav-list {
  flex-direction: column;
}

@media (min-width: 600px) {
  .nav-list {
    flex-direction: row;
  }
}

.header-nav {
  position: fixed; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  transform: translateX(0);
  transition: transform 250ms; 
  width: 100%; 
  height: 100vh;
  background: var(--black);
  z-index: 2;

}

.nav-open-nav {
  transform: translateX(-100%);
}

.nav-open-body {
  overflow: hidden; 
}

@media (min-width: 600px) {
  .nav-mobile-menu {
    display: none;
  }
  .header-nav {
    position: initial;
    width: unset;
    /*grid-column: 3 / -2;*/
    margin-left: auto;
    width: unset;
    height: unset;
    background: unset;
  }
  .nav-logo, .nav-close-btn {
    display: none;
  }
}

.header-logo, .header-nav, .nav-mobile-menu {
  grid-row: 1 / 2;
}
.header-title {
  grid-row: 2 / 3;
}



/* Main */ 

/* Hero Content */ 
.hero-img {
  margin: 6em 0 3em;
}

/* Image Gallery */ 
.image-gallery {
  margin-top: 5em;
  margin-bottom: 7em;
  gap: 1.5em;
}

.gallery-title {
  margin-bottom: 0.8em;
}
.gallery-btn {
  order: 99;
  justify-self: center;
}

@media (min-width: 600px) {
  .gallery-btn {
    order: unset;
  }
}

.card {
  position: relative;
}

.card-body {
  position: absolute;
  left: 0.9em;
  bottom: 0.9em;
  z-index: 2;
}

.card::after {
  content: '';
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(to right, rgba(0,0,0,0.7), rgba(255,255,255,0.2)) /* idk the most accurate gradient here but it'll do */ 
}

@media (min-width: 600px) {
  .card {
    grid-column: initial;
  }
  .card-body {
    min-width: 125px;
  }
}

/* Footer */ 

.footer {
  background: var(--black);
  justify-items: center;
  padding: 4em 0;
}

.footer-logo {
  order: 0;
}
.footer-nav {
  order: 1;
  margin: 2.2em 0 3em;
}
.nav-list {
  gap: 1.4em;
  text-align: center;
}
.social-list {
  order: 2;
  gap: 1em;
  align-items: center;
}
.copyright {
  order: 3;
  margin-top: 1em;
}
.attribution {
  order: 4;
}

/* ------------------------ */ 

@media (min-width: 600px) {

}






/* 
  read my notes about object-fit: cover; for images.
    maybe use width: 100% and aspect ratio: 1 / 1 aswell. 

  you don't need to do position absolute for overlapping content in a grid, you just put them in the same column/row and set a grid index. 
  google grid overlapping elements


  grid to do: 
    header: 
      logo spans 1 col 
      nav spans 3 col but has margin-left: auto
      title spans all cols but give it a width. 
    
    hero:
      img spans 3 rows but reduce the width to like 70% or something
      text spans 2 rows but has bg white + z index to sit on top of img. 

  
  try out the grid, then re-read my notes + watch the grid tuts to see what I need to change. 


  To do: 
    mobile design: paddings, heights, the above things for images. 
    darken left side of card images. 



  when doing the js for mobile nav, on btn click, add nav-open-body class to body & remove it on close. 
    this removes the scrollbar when mobile-nav is open. 
*/ 